.Announcement {
    width: 30%;
    margin: auto;
    height: auto;
    padding: 5%;
    border-radius: 4px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: #fff solid 1px;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(255,255,255,0.2);
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5%;
}
.upload {

    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5%;
    right: 0;
    bottom: 0;
}

.descriptionsquare{
    width: 100%;
    font-size: 18px;
    height: 130%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    display: block;
    margin-left: 0;
    font-weight: bold;
}
.title {
    font-size: 24px;
  }
  
  .large {
    font-size: 36px;
  }
  
  
  .square {
    resize: none;
  }
.textarea {
    width: 300px;  /* 원하는 너비로 설정 */
    height: 150px; /* 원하는 높이로 설정 */
    resize: none;  /* 크기 변경 방지 */
}
  
