.check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .QrContainer {
    display: flex;
    height: 80vh;
    width: 50vw;
    color: #fff; 
    z-index: 1000;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
		background: rgba(255,255,255,0.2);
    border: #FBFBFB 1px solid;
		border-radius: 10px;
		z-index: 2;
		overflow: hidden;
		backdrop-filter: blur(5px);
  	-webkit-backdrop-filter: blur(5px);
  }
  
  .QrWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
  }
  
  