.check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .QrContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: gray;
    height: 100vh;
  }
  
  .QrWrapper {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
  }
  
  